[submodule "axl"]
	path = axl
	url = https://github.com/vovkos/axl
	pushurl = git@github.com:vovkos/axl.git
[submodule "doxyrest"]
	path = doxyrest
	url = https://github.com/vovkos/doxyrest
	pushurl = git@github.com:vovkos/doxyrest.git
