#...............................................................................
#
#  This file is part of the Doxyrest toolkit.
#
#  Doxyrest is distributed under the MIT license.
#  For details see accompanying license.txt file,
#  the public copy of which is also available at:
#  http://tibbo.com/downloads/archive/doxyrest/license.txt
#
#...............................................................................

dist:     trusty
sudo:     required
language: cpp

os:
    - linux
    - osx

compiler:
    - gcc
    - clang

env:
    - TARGET_CPU=x86 BUILD_CONFIGURATION=Debug
    - TARGET_CPU=x86 BUILD_CONFIGURATION=Release
    - TARGET_CPU=amd64 BUILD_CONFIGURATION=Debug
    - TARGET_CPU=amd64 BUILD_CONFIGURATION=Release

matrix:
    exclude:
        - os:       osx
          compiler: gcc

        - os:  osx
          env: TARGET_CPU=x86 BUILD_CONFIGURATION=Debug

        - os:  osx
          env: TARGET_CPU=x86 BUILD_CONFIGURATION=Release

install:
    - source doxyrest/ci/travis/set-env.sh
    - bash doxyrest/ci/travis/install-$TRAVIS_OS_NAME.sh

script:
    - mkdir build
    - cd build
    - cmake .. -DTARGET_CPU=$TARGET_CPU -DCMAKE_BUILD_TYPE=$BUILD_CONFIGURATION
    - cmake --build .
    - ctest --output-on-failure
    - source ../ci/travis/build-source-package.sh

deploy:
    -   provider:     releases
        file:         $DOXYREST_SOURCE_PACKAGE_FILE

        skip_cleanup: true
        overwrite:    true

        api_key:
            secure:   "nw9VWkU4drbyVJ3kxiw0RpeFbPUaUb7pZC4rmcYuyZWu+SJ9q5N+waryuecZSk71gTaiRlw5IOz4rSpXTt+23dMzGJgv9bCkX8IIvvkJBadiEmnvUsxXwl1uV6KHAMXmbcT3QTAh9R27lrshimRbs2/9u1IcGD7U6reWnODNIXnnswrMWVEFNIvc38OegdQAY5RUNiGB+/VpBUrhiPDcJ8w7d0mykOLPLPPZsec1nElHyGIwx8wvdMmLOsxglCZ3cS4BJRqz9rXa08rSQuNM+RyCBZgeUMvR19o0nZ3wcDXlasem8DfTwMfaXuDf8czfjVCPcq0X7rFImVGs0NPennWA8o+lAgmaFS9qWKYZcNcycFCWNIImeHg7qzmMnwerCcNlcHvDeg8+NfOne5cGffP7CI9aYFo7ONRxZbU6LJeD6wTqXWW6+qno15XPnYurNuXEg9iUWv75+sJAJvc8UKXg5eNtqkS1YkeK472O4J4ejyarC8VJUGIP4u2fiCI+9187zy/NAQza0iNoHqp1yRJg0pAT6Wad88I7AJOOZ2UnkNGjXxj4M3suYHkY6u4jcM97HAZLwlPpNTcuiuR18TeGuCLNOoHSMopsjVPAUm1LEvvnh1Lhqj7RTtrws6Snl2WSOwvhkNz3G5ognTiFnynRhRsG5ACrstvth8qwwtI="

        on:
            branch:    master
            tags:      true
            condition: $BUILD_SOURCE_PACKAGE == ON
